.errMsg {
    font-size     : 20px;
    font-weight   : 600;
    margin-top    : 10%;
    text-align    : center;
    text-transform: uppercase;
    color         : red;
    letter-spacing: 1.3px;
}

.successMsg {
    font-size     : 20px;
    font-weight   : 600;
    margin-top    : 10%;
    text-align    : center;
    text-transform: uppercase;
    color         : green;
    letter-spacing: 1.3px;
}