.manage-doctor-container {
    padding: 5px;

    .table-doctor {
        margin        : 8px auto;
        font-size     : 20px;
        text-transform: uppercase;
        font-weight   : 600;
    }

    .manage-doctor-title {
        text-align    : center;
        margin        : 15px 0;
        font-size     : 20px;
        text-transform: uppercase;
        font-weight   : 600;
    }

    .more-infor {
        display       : flex;
        gap           : 15px;
        padding-bottom: 15px;

        .content-left {
            width        : 35%;
            margin-bottom: 4rem;
        }

        .content-right {
            width: 65%;
        }
    }

    .manage-doctor-editor {

        .custom-html-style h1 {
            text-align : left !important;
            line-height: 0 !important;
        }
    }
}