#TableManageUser {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#TableManageUser td,
#TableManageUser th {
    border : 1px solid #ddd;
    padding: 8px;
}

#TableManageUser tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableManageUser tr:hover {
    background-color: #ddd;
}

#TableManageUser th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : center;
    background-color: #212529;
    color           : white;
}

#TableManageUser td:last-child {
    text-align: center;
}

.rc-md-editor .rc-md-navigation {
    width     : 100% !important;
    // padding: 0 19rem !important;
}

.rc-md-editor .editor-container .sec-md .input {
    line-height: 3.7 !important;
    height     : 32.8rem !important;
}

.rc-md-editor .editor-container .sec-html .html-wrap {
    margin-bottom: 27rem !important;
}

.rc-md-editor .rc-md-navigation .button-wrap,
.rc-md-editor .rc-md-navigation .navigation-nav {
    margin: 2px 0rem !important;
}