#TableManageSpecialty {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#TableManageSpecialty td,
#TableManageSpecialty th {
    border : 1px solid #ddd;
    padding: 8px;
}

#TableManageSpecialty tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableManageSpecialty tr:hover {
    background-color: #ddd;
}

#TableManageSpecialty th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : center;
    background-color: #212529;
    color           : white;
}

#TableManageSpecialty td:last-child {
    text-align: center;
}

.paginationBttns {
    height         : 40px;
    list-style     : none;
    display        : flex;
    justify-content: center;
    align-items    : flex-end;
    margin-top     : 2rem;

    a {
        padding      : 10px;
        margin       : 8px;
        border-radius: 5px;
        border       : 1px solid #007bff;
        color        : #007bff;
        cursor       : pointer;

        &:hover {
            color           : white;
            background-color: #007bff;
        }
    }
}

.paginationActive {
    a {
        color           : white;
        background-color: #007bff;
    }
}

.paginationDisabled a {
    color           : #fff;
    background-color: #007bff;
}